
@{
    ViewBag.Title = "News";
}

<section class="row px-lg-4">
    
    <section class="col-4">
        <h1 class="font--32">Tin tức</h1>

        <div class="pb-3">
            <img class="w-100 h-auto" src="http://placehold.it/500x225" />
            <div>
                <h3>Tiêu đề bài viết</h3>
                <p>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa
                    qui officia deserunt mollit anim id est eopksio laborum. Sed ut
                    perspiciatis unde omnis istpoe natus error sit voluptatem.
                    <br />
                    <small> <i class="fas fa-clock"></i> 30, January, 2019</small>
                </p>

            </div>
        </div>

        <div class="pb-3">
            <img class="w-100 h-auto" src="http://placehold.it/500x225" />
            <div>
                <h3>Tiêu đề bài viết</h3>
                <p>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa
                    qui officia deserunt mollit anim id est eopksio laborum. Sed ut
                    perspiciatis unde omnis istpoe natus error sit voluptatem.
                    <br />
                    <small> <i class="fas fa-clock"></i> 30, January, 2019</small>
                </p>

            </div>
        </div>
    </section>
    <div class="d-block" style="width:1px;height:100vh; background-color:var(--Blue-2);margin-top:46.4px;margin-bottom:46.4px;"></div>
    <section class="col-4">
        <h2 class="font--32">Chia sẻ kinh nghiệm</h2>
        <div class="pb-3">
            <img class="w-100 h-auto" src="http://placehold.it/500x225" />
            <div>
                <h3>Tiêu đề bài viết</h3>
                <p>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa
                    qui officia deserunt mollit anim id est eopksio laborum. Sed ut
                    perspiciatis unde omnis istpoe natus error sit voluptatem.
                    <br />
                    <small> <i class="fas fa-clock"></i> 30, January, 2019</small>
                </p>

            </div>
        </div>
        <div class="pb-3">
            <img class="w-100 h-auto" src="http://placehold.it/500x225" />
            <div>
                <h3>Tiêu đề bài viết</h3>
                <p>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa
                    qui officia deserunt mollit anim id est eopksio laborum. Sed ut
                    perspiciatis unde omnis istpoe natus error sit voluptatem.
                    <br />
                    <small> <i class="fas fa-clock"></i> 30, January, 2019</small>
                </p>

            </div>
        </div>
    </section>
    <section class="col-3 ml-auto">
        <h2 class="font--32">Review trip</h2>
        <div class="pb-3">
            <img class="w-100 h-auto" src="http://placehold.it/500x225" />
            <div>
                <h4>Tiêu đề bài viết</h4>
                <p class="font--15">
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa
                    qui officia deserunt mollit anim id est eopksio laborum. Sed ut
                    perspiciatis unde omnis istpoe natus error sit voluptatem.
                    <br />
                    <small> <i class="fas fa-clock"></i> 30, January, 2019</small>
                </p>
            </div>
        </div>
        <div>
            <img class="w-100 h-auto" src="http://placehold.it/500x225" />
            <div>
                <h4>Tiêu đề bài viết</h4>
                <p class="font--15">
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa
                    qui officia deserunt mollit anim id est eopksio laborum. Sed ut
                    perspiciatis unde omnis istpoe natus error sit voluptatem.
                    <br />
                    <small> <i class="fas fa-clock"></i> 30, January, 2019</small>
                </p>
            </div>
        </div>
    </section>
</section>

