
@{
    ViewBag.Title = "Services";
}
<section id="SectionHeader">
    <div class="bg-pink-5 row text-white mx-0 px-5 pt-3 pb-5">
        <div class="col-3 box-1 px-3">
            <h2 class="box-header">  Visa for Vietnamese</h2>
            <div class="box-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Suspendisse risus arcu, finibus vitae mauris a,
                iaculis pulvinar augue.
            </div>
        </div>
        <div class="col-3 box-1 px-3">
            <h2 class="box-header"> Vietnam Visa for Foreigner</h2>
            <div class="box-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Suspendisse risus arcu, finibus vitae mauris a,
                iaculis pulvinar augue.
            </div>
        </div>
        <div class="col-3 box-1 px-3">
            <h2 class="box-header">  Finance Proof</h2>
            <div class="box-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Suspendisse risus arcu, finibus vitae mauris a,
                iaculis pulvinar augue.
            </div>
        </div>
        <div class="col-3 box-1 px-3">
            <h2 class="box-header">  Consular Legalization</h2>
            <div class="box-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Suspendisse risus arcu, finibus vitae mauris a,
                iaculis pulvinar augue.
            </div>
        </div>
    </div>
</section>