
@{
    ViewBag.Title = "Services";
}
<section id="SectionHeader">
    <h1 class="text-center">Services</h1>
    <div class="row mx-0 px-5 pt-3 pb-5">
        <div class="col-12 col-md-6 col-lg-3 px-3 mb-4 mb-lg-0">
            <img class="w-100 h-auto border--2 border--pink1" style="border-radius:10px" src="http://placehold.it/500x400" />
            <h2 class="font--25 text-center pt-4">  Visa for Vietnamese</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Suspendisse risus arcu, finibus vitae mauris a,
                iaculis pulvinar augue.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 px-3 mb-4 mb-lg-0">
            <img class="w-100 h-auto border--2 border--pink1" style="border-radius:10px" src="http://placehold.it/500x400" />
            <h2 class="font--25 text-center pt-4">  Vietnam Visa for Foreigner</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Suspendisse risus arcu, finibus vitae mauris a,
                iaculis pulvinar augue.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 px-3 mb-4 mb-lg-0">
            <img class="w-100 h-auto border--2 border--pink1" style="border-radius:10px" src="http://placehold.it/500x400" />
            <h2 class="font--25 text-center pt-4"> Finance Proof</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Suspendisse risus arcu, finibus vitae mauris a,
                iaculis pulvinar augue.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 px-3 mb-4 mb-lg-0">
            <img class="w-100 h-auto border--2 border--pink1" style="border-radius:10px" src="http://placehold.it/500x400" />
            <h2 class="font--25 text-center pt-4">  Consular Legalization</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Suspendisse risus arcu, finibus vitae mauris a,
                iaculis pulvinar augue.
            </p>
        </div>
      
    </div>
</section>