
@{
    ViewBag.Title = "Register";
}

<form class="col-9 mx-auto d-flex align-items-center justify-content-center " id="formLogin" method="post">
    <div>
        <div class="form-group ">
            <label>
                Account
            </label>
            <input class="form-control" placeholder="Input your account" type="text" name="username" />
        </div>
        <div class="form-group align-self-center">
            <label>
                Password
            </label>
            <input class="form-control" placeholder="Input your password" type="password" name="password" />
        </div>
        <button type="submit" class="btn btn-dark">Login</button>
    </div>
</form>
